.swiper-button-prev, .swiper-button-next {
  position: relative;
  margin-top: 0;
  width: 60px;
  height: 60px;
  top: 0;
  border: 1px solid #0B0580;
  border-radius: 100px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url('../img/arrow-prev.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.swiper-button-next:after {
  background-image: url('../img/arrow-next.svg');
}




.swiper-pagination.swiper-pagination-fraction {
  position: static;
  display: inline-block;
  width:  60px;
  @include mont(medium);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0;
}
