$breakpoint-desktop: 1220px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 768px;

$container-width: 1170px; // по 135 по краям

//z-indexes

// $z-index-preloader: 80;
// $z-index-logo: 100;
// $z-index-toggle: 100;
// $z-index-header-links: 100;
// $z-index-header: 90;
// $z-index-dropdown: 50;
