.thanks {
  background-color: var(--clr-blue);
  padding: 218px 45px 40px 45px;
  color: var(--clr-white);
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    transform: translateX(-50%);
    top: 52px;
    background-image: url('../img/thanks.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


.thanks__title {
  @include mont(bold);
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 25px;
}
.thanks__desc {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.7;
}
