

.socials{
  display: flex;
  align-items: center;
}

.socials__item {
  opacity: 0.9;
  transition: .3s;

  &:hover {
    opacity: 1;
  }
}

.socials__item + .socials__item{
  margin-left: 10px;
}

.socials__link {
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.socials__icon {
  width: 30px;
  height: 30px;
}
