.footer {
  padding: 10px 0;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  font-size: 12px;
  line-height: 15px;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
      justify-content: center;
    }
  }
}

.footer__logo {
  @include phones {
    display: none;
  }
}

.footer__links {
}

.footer__link {
  text-decoration: underline;

  & + .footer__link {
    margin-left: 27px;
  }

}

.footer__copy {
  @include tablets {
    display: none;
  }
}
