.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: $z-index-menu-header;
  background-color: var(--clr-blue);
  padding: 12px 0;

  @include phones {
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  @include phones {
    z-index: $z-index-logo;
  }
}

.header__menu {

}

.header__btns {
  @include phones {
    display: none;
  }

}

.header__btn {
  width: 118px;
  font-size: 12px;
}
